@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary-red: hsl(7, 99%, 70%);
  --color-primary-yellow: hsl(51, 100%, 49%);
  --color-primary-cyan: hsl(167, 40%, 24%);
  --color-primary-blue: hsl(198, 62%, 26%);
  --color-primary-footer: hsl(168, 34%, 41%);

  --color-neutral-dark-blue: hsl(212, 27%, 19%);
  --color-neutral-dark-grayish-blue: hsl(213, 9%, 39%);
  --color-neutral-grayish-blue: hsl(210, 4%, 67%);
  --color-neutral-very-dark-desaturated-blue: hsl(232, 10%, 55%);
  --color-neutral-white: hsl(0, 0%, 100%);

  --font-barlow: "Barlow", sans-serif;
  --font-fraunces: "Fraunces", serif;
  --font-body-size: 18px;
  --font-barlow-weight: 600;
  --font-fraunces-weight-bold: 700;
  --font-fraunces-weight-black: 900;
}

.logo-filter {
  filter: invert(45%) sepia(22%) saturate(790%) hue-rotate(118deg) brightness(81%) contrast(70%);
}


@media screen and (min-width: 500px) and (max-width: 766px) {
  .menu-section.shown::after {
      transform: translate(0, 45%);
  }
}
.menu-section.shown::after {
  content: "";
  position: absolute;
  margin-top: -25%;
  right: 0;
  width: 0;
  height: 0;
  transform: translate(0, 10%);
  background-color: transparent;
  border-left: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-top: 40px solid transparent;
  border-right: 40px solid var(--white);
}